src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="43dce1d8-8ba0-4aba-bb04-d1ad60c22961" name="common_initialize_variableFlow"/>
		<apikit:router config-ref="api-config" />
		<error-handler ref="global_Error_Handler" />
        
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="global_Error_Handler" />
    </flow>
    <flow name="post:\members\transactions:application\json:api-config">
        <logger level="INFO" doc:name="Logger" doc:id="f8ec248c-353e-440d-8f18-bef1e2eb1a39" message='#[%dw 2.0
output application/json
---
{
	"flowname": flow.name,
	"app name": app.name,
	"status": "before flow reference"
}]'/>
		<flow-ref doc:name="Flow Reference" doc:id="0eb576dd-cda5-49f0-a332-c66a401214d4" name="post_implementation_sys_flowFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="3d7f1707-11c2-4d30-b783-eeec026af2cc" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"flowname": app.flowname,&#10;	"app name": app.name,&#10;	"status": "after flow reference"&#10;}]'/>
		<error-handler ref="global_Error_Handler" />
    </flow>
</mule>
